@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623059827632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-m2:before {
  content: "\e60f";
}

.icon-tubiao-shezhi:before {
  content: "\e609";
}

.icon-tuichu:before {
  content: "\e667";
}

